<nav class="navbar navbar-light" style="background-color: #1e88e5;">
			<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
			    &#9776;
			</button>
			<div class="collapse navbar-toggleable-xs navEdit" id="exCollapsingNavbar2">
		    	<div class="navbar-brand" href="#">&nbsp &nbsp Key Party</div>
			    <ul class="nav navbar-nav navMove">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Features</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link hereyago" href="#">Hava</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#"></a>
			      </li>
			    </ul>
		  	</div>
		  	<div class="dropdownContainer">
		  		<div class="dropdown1">
				    <button class="btn btn-default dropdown mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button" data-toggle="dropdown">Major / Minor
				    <span class="caret"></span></button>
				    <ul class="dropdown-menu">
				      <li><a href="#" class="majMinDrop majorDrop">Major</a></li>
				      <li><a href="#" class="majMinDrop minorDrop">Minor</a></li>
				    </ul>
			   	</div>
			  	 &nbsp
			   	 &nbsp
			   	<div class="dropdown2">
				    <button class="btn btn-default dropdown mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button" data-toggle="dropdown">Choose a <span class="maMi"></span> chord
				    <span class="caret"></span></button>
				    <ul class="dropdown-menu">
					      <li><a href="#" class="dropChord cChord note0">C</a></li>
					      <li><a href="#" class="dropChord csChord note1">C#</a></li>
					      <li><a href="#" class="dropChord dChord note2">D</a></li>
					      <li><a href="#" class="dropChord dsChord note3">D#</a></li>
					      <li><a href="#" class="dropChord eChord note4">E</a></li>
					      <li><a href="#" class="dropChord fChord note5">F</a></li>
					      <li><a href="#" class="dropChord fsChord note6">F#</a></li>
					      <li><a href="#" class="dropChord gChord note7">G</a></li>
					      <li><a href="#" class="dropChord gsChord note8">G#</a></li>
					      <li><a href="#" class="dropChord aChord note9">A</a></li>
					      <li><a href="#" class="dropChord asChord note10">A#</a></li>
					      <li><a href="#" class="dropChord bChord note11">B</a></li>
				    </ul>
			   	</div>


			   	<div class="mui-form--inline submitDiv">
					  <div class="mui-textfield submitForm">
					    <input type="text" class="muiText" placeholder="Enter notes">
					  </div>
					
					  <button class="btn btn-default dropdown mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submitButton findKeys">SUBMIT</button>
				</div>

				<div class="mui-form--inline reset">
					
					  <button class="btn btn-default dropdown mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent resetButton">RESET</button>
				</div>


		  	</div>
		</nav>