	<div class="container">


			<div class="brand"></div>




			
			<div class="innerContainer">


			<div class="scaleListContainer">
				
				<div class="scaleListTitle">Scales Featuring:</div>


				<div class="notesSelected"></div>


				<div class="scaleList"></div>



			</div>