<!DOCTYPE html>
<html>
<head>
	<title>Key Party</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.iife.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">

<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script> -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  	<script type="text/javascript" src="js/keyboard.js"></script>
  	<script type="text/javascript" src="js/tester.js"></script>
  	<script type="text/javascript" src="js/musicFunctions.js"></script>
  	<link rel="stylesheet" type="text/css" href="styles/keyboard.css">

  	<!-- synth stuff -->

  	<!-- <link rel="stylesheet" type="text/css" href="assets/keyboard.css"> -->
	

  	
</head>
<body>


	<%include partials/navbar%>
<br>



<% include partials/scalelist%>

			<% include partials/keyboard%>




			

			<!-- <div id="content" class="animated">


				<div id="content2">


				<h1 class="Chordname"></h1>
				<div id="content2">
					<li>The <span class="Chordname"></span> scale is <span class="noteScaleClass"></span></li>
					<li><span>The <span class="Chordname"></span> triad consists of the root note <span class="rootNote"></span>, the <span class="thirdClass"></span> third note <span class="thirdNote"></span>, and the fifth note <span class="fifthNote"></span> on the <span class="maMiClass"></span> scale.</span></li>
				</div>

				</div>

			</div> -->






		</div>

<button class="btn btn-default dropdown back" type="button">Back</button>

<!-- <button class="btn btn-default dropdown reset" type="button">Reset</button> -->










</body>
</html>


